node_modules
.next
keys/
drive-reader.json
data1
.env.local
.env
public/data
context.txt
documentation.txt
documentation v2.txt
scripts/data/drive-tree.json
scripts/upload-to-blob.js
app/api/import-drive/route.ts
app/api/run-script/route.ts
fix.txt
fix2.txt
fix3.txt
scripts/scripts